<%- include('../partials/header.ejs')%>
<div class="content">
  <h2>Welcome, <%=user.firstName%></h2>
  <% if(stories.length){%>
  <p>You have created following stories</p>
  <%stories.forEach(story =>{%>
  <a href="/trades/<%= story.id%>"><p><%= story.title%></p></a>
  <form>
    <button
      type="submit"
      formmethod="POST"
      formaction="/trades/<%= story.id %>?_method=DELETE"
      class="delete-button"
    >
      Delete
    </button>
    <button
      type="submit"
      formmethod="GET"
      formaction="/trades/<%= story.id %>/edit"
      class="edit-button"
    >
      Edit
    </button>
  </form>
  <% }); }else{%>
  <p>You have not created any story</p>
  <%}%>
</div>
<%- include('../partials/footer.ejs')%>
